* {
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    height: 70px;
}


.barra-promocional {
    width: 100%;
    height: 45px;
    margin: auto;
    background-color: #FF0049;

}

.barra-promocional p a {
    text-decoration: none;
    color: white;
    font-family: titulo;
    font-size: 18px;
    text-align: center;
    padding-top: 10px;
}

.barra-promocional p {
    text-align: center;
    font-size: 18px;
    padding-inline-end: 10px;
    font-family: titulo;
    color: white;
}

.ancho {
    width: 100%;
    height: 70px;
    margin: auto;
}

.logo {
    width: 18%;
    height: 70px;
    background: white;
    float: left;
    padding-top: 10px;
    box-sizing: border-box;
}

.logo  div a svg{
    padding: 0;
    margin-left:60%;
}

.titulo {
    width: 12%;
    height: 70px;
    background: white;
    float: left;
    padding-top: 10px;
    box-sizing: border-box;
}

.barra-navegacion {
    width: 53%;
    height: 70px;
    padding-top: 5px;
    background-color: white;
    float: left;
    box-sizing: border-box;
    text-align: right;
}

.espacio2 {
    width: 17%;
    height: 70px;
    background-color: white;
    float: left;
    box-sizing: border-box;
    text-align: right;
}

.barra-navegacion ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.barra-navegacion ul li {
    display: inline-block;
}

.barra-navegacion ul li a {
    color: #FF0049;
    display: block;
    padding: 15px;
    text-decoration: none;
}

.barra-navegacion ul li a:hover {
    color: black;
}

.barra-navegacion ul li ul {
    display: none;
    position: absolute;
    min-width: 140px;
}

.barra-navegacion ul li:hover>ul {
    display: block;
    text-align: left;
    background-color: white;
}

.titulo p a {
    color: black;
    font-size: 25px;
    font-family: titulo;
    text-decoration: none;
    padding: 0;
}

/*FUENTE DE LETRA*/
@font-face {
    font-family: titulo;
    src: url(../Fonts/KaiseiHarunoUmi-Regular.ttf);
}

/*EFECTO PARTICULAS*/
#particles-js {
    background: url(../assets/183575.jpg);
    background-position: center;
    background-attachment: contain;
    background-size: auto;
}

/*LETRAS FONDO*/
.ancho-letras {
    top: 150px;
    position: absolute;
    width: 100%;
    text-align: center;
}

.letras-slider {
    width: 80%;
    margin: auto;
}

.letras-slider h1 {
    color: black;
    font-family: titulo;
    font-size: 40px;
}

.letras-slider p {
    color: black;
    font-family: titulo;
    font-size: 20px;
}



#menuprincipal {
    display: none;
    width: 96%;
    height: 50px;
    padding: 0% 2%;
    background-color: white;
    border-top: 1px solid #094660;
    border-bottom: 1px solid #094660;
}
#menuprincipal >div{
    max-width: 960px;
    margin: 0px auto;
}
#menuprincipal li{
    display: inline-block;
    height: 35px;
    padding: 15px 10px 0px 10px;
    margin-right: 5px;
    background-color: white;

}
#menuprincipal li a:hover{
    color: black;
}
#menuprincipal a{
    font: titulo;
    color: #FF0049;
    text-decoration: none;
}
#menuicono{
    display: none;
    width: 95%;
    height: 38px;
    padding: 12px 2% 0px 3%;
    background-color: white;
    border-top: 1px solid #094660;
}
#menu-img{
    position: relative;
    left: 90%;
}
